@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

@layer base {
  p {
    @apply font-[Open+Sans];
    @apply tracking-wide;
  }
  h1,
  h2 {
    @apply font-[Raleway];
  }
  li {
    @apply font-[Open+Sans];
    @apply px-4;
    @apply cursor-pointer;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(51, 214, 165, 0.9),
    hsla(162, 66.5%, 61%, 0.8)
  ) !important;
}

.links {
  height: 30px;
  font-size: 17px;
  position: relative;
  overflow: hidden;
}

.links::after {
  display: block;
  content: "";
  position: absolute;
  top: 90%;
  height: 4px;
  width: 65%;
  transform: translateX(-140%);
  background-color: #33d6a4;
  transition: all 0.8s;
  border-radius: 8px;
}

.links:hover::after {
  transform: translateX(200%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  100% {
    transform: rotate(1080deg);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.spin-animation {
  animation: spin 3s linear;
}

.lightText {
  font-weight: 100;
}
